
{% load i18n %}
<div id="footer" class="ovhd">
<div class="innerfooter">
  <div class="items fleft">
    <div class="item">
      <ul>
        <p><a href="{{ protocol }}://{{ domain }}/download" target="_blank">{% trans "Download client" %}</a></p>
      </ul>  
    </div>
  </div>
  <div class="other-info fright">
    <p>© 2017 OpenCloud</p>
  </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}custom/js/eyeos.js"></script>
