
{% load i18n %}
<div id="footer" class="ovhd">
<div class="innerfooter">
  <div class="items fleft">
    <div class="item">
      <ul>
        <p><a href="http://open365.io/download.html" target="_blank">{% trans "Download client" %}</a></p>
      </ul>
    </div>
    <div class="item">
      <p><a href="https://open365.io/" target="_blank">{% trans "Powered by Open365" %}</a></p>
    </div>
  </div>
  <div class="other-info fright">
    <p>© 2016 eyeOS</p>
  </div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="{{ MEDIA_URL }}custom/js/eyeos.js"></script>
